body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:360px;
    top:50px;
    width:300px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:320px;
    top:103px;
    width:360px;
    height:47px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:20px;
    top:230px;
    width:220px;
    height:320px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:326px;
}

.u3 {
    position:absolute;
    left:2px;
    top:152px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:20px;
    top:230px;
    width:220px;
    height:320px
}

.u4 {
    position:absolute;
    left:40px;
    top:249px;
    width:180px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:40px;
    top:290px;
    width:180px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:40px;
    top:290px;
    width:180px;
    height:40px
}

.u7_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:40px;
    top:340px;
    width:180px;
    height:40px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u8 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:40px;
    top:340px;
    width:180px;
    height:40px
}

.u9_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u7_original.png');
}

.u9_container {
    position:absolute;
    left:40px;
    top:390px;
    width:180px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:40px;
    top:390px;
    width:180px;
    height:40px
}

.u11_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u11_container {
    position:absolute;
    left:40px;
    top:440px;
    width:180px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:40px;
    top:440px;
    width:180px;
    height:40px
}

.u13_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u13_container {
    position:absolute;
    left:40px;
    top:490px;
    width:180px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:40px;
    top:490px;
    width:180px;
    height:40px
}

.u15_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:260px;
    top:230px;
    width:220px;
    height:370px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:376px;
}

.u16 {
    position:absolute;
    left:2px;
    top:177px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:260px;
    top:230px;
    width:220px;
    height:370px
}

.u17 {
    position:absolute;
    left:280px;
    top:249px;
    width:180px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u18_container {
    position:absolute;
    left:280px;
    top:290px;
    width:180px;
    height:40px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:280px;
    top:290px;
    width:180px;
    height:40px
}

.u20_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u20_container {
    position:absolute;
    left:280px;
    top:340px;
    width:180px;
    height:40px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:280px;
    top:340px;
    width:180px;
    height:40px
}

.u22_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u22_container {
    position:absolute;
    left:280px;
    top:390px;
    width:180px;
    height:40px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:280px;
    top:390px;
    width:180px;
    height:40px
}

.u24_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u24_container {
    position:absolute;
    left:280px;
    top:440px;
    width:180px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:280px;
    top:440px;
    width:180px;
    height:40px
}

.u26_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:280px;
    top:490px;
    width:180px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:280px;
    top:490px;
    width:180px;
    height:40px
}

.u28_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:500px;
    top:230px;
    width:220px;
    height:220px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:226px;
}

.u29 {
    position:absolute;
    left:2px;
    top:102px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:500px;
    top:230px;
    width:220px;
    height:220px
}

.u30 {
    position:absolute;
    left:520px;
    top:249px;
    width:180px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u31_container {
    position:absolute;
    left:520px;
    top:290px;
    width:180px;
    height:40px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u32 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:520px;
    top:290px;
    width:180px;
    height:40px
}

.u33_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u33_container {
    position:absolute;
    left:520px;
    top:340px;
    width:180px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u34 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:520px;
    top:340px;
    width:180px;
    height:40px
}

.u35_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u35_container {
    position:absolute;
    left:520px;
    top:390px;
    width:180px;
    height:40px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u36 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:520px;
    top:390px;
    width:180px;
    height:40px
}

.u37_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:280px;
    top:540px;
    width:180px;
    height:40px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u38 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:280px;
    top:540px;
    width:180px;
    height:40px
}

.u39_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u39_original.png');
}

.u39_container {
    position:absolute;
    left:500px;
    top:470px;
    width:220px;
    height:220px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:226px;
}

.u40 {
    position:absolute;
    left:2px;
    top:102px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:500px;
    top:470px;
    width:220px;
    height:220px
}

.u41 {
    position:absolute;
    left:520px;
    top:489px;
    width:180px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u42_container {
    position:absolute;
    left:520px;
    top:530px;
    width:180px;
    height:40px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u43 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:520px;
    top:530px;
    width:180px;
    height:40px
}

.u44_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u44_container {
    position:absolute;
    left:520px;
    top:580px;
    width:180px;
    height:40px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u45 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:520px;
    top:580px;
    width:180px;
    height:40px
}

.u46_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u46_container {
    position:absolute;
    left:520px;
    top:630px;
    width:180px;
    height:40px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u47 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:520px;
    top:630px;
    width:180px;
    height:40px
}

.u48_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u2_original.png');
}

.u48_container {
    position:absolute;
    left:740px;
    top:230px;
    width:220px;
    height:320px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:326px;
}

.u49 {
    position:absolute;
    left:2px;
    top:152px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:740px;
    top:230px;
    width:220px;
    height:320px
}

.u50 {
    position:absolute;
    left:760px;
    top:249px;
    width:180px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u51_container {
    position:absolute;
    left:760px;
    top:290px;
    width:180px;
    height:40px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:760px;
    top:290px;
    width:180px;
    height:40px
}

.u53_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u53_container {
    position:absolute;
    left:760px;
    top:340px;
    width:180px;
    height:40px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u54 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:760px;
    top:340px;
    width:180px;
    height:40px
}

.u55_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u55_container {
    position:absolute;
    left:760px;
    top:390px;
    width:180px;
    height:40px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u56 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:760px;
    top:390px;
    width:180px;
    height:40px
}

.u57_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u5_original.png');
}

.u57_container {
    position:absolute;
    left:760px;
    top:440px;
    width:180px;
    height:40px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u58 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:760px;
    top:440px;
    width:180px;
    height:40px
}

.u59_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u37_original.png');
}

.u59_container {
    position:absolute;
    left:760px;
    top:490px;
    width:180px;
    height:40px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u60 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:760px;
    top:490px;
    width:180px;
    height:40px
}

.u61_hover {
    background-image: url('../Dealers_1.0_for_iPad_files/u61_hover.png');
}

.u61_original {
    background-image: url('../Dealers_1.0_for_iPad_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:350px;
    top:160px;
    width:250px;
    height:40px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:46px;
}

.u62 {
    position:absolute;
    left:2px;
    top:12px;
    width:246px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:350px;
    top:160px;
    width:250px;
    height:40px
}

